body {
	background-color: #f2f2f2;
}

.ui.raised.container.segment {
	height: 100%;
}

#select-container {
	margin-top: 5rem;
	margin-left: auto;
	margin-right: auto;
}

/* Style for options of Select */
.selectize-dropdown-content {
	max-height: 40rem;
}
.selectize-control.users .selectize-dropdown > div {
	border-bottom: 1px solid #7e7e7e;
}
.selectize-control.users::before {
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	content: '';
	z-index: 2;
	position: absolute;
	display: block;
	top: 12px;
	right: 34px;
	width: 16px;
	height: 16px;
	background: url(images/spinner.gif);
	background-size: 16px 16px;
	opacity: 0;
}
.selectize-control.users.loading::before {
	opacity: 0.4;
}

.ui.middle.aligned.list .item .ui.avatar.image{
	width: 3.3rem;
	height: 3.3rem;
}
.ui.middle.aligned.list .item .content .header {
	font-size: 1.2rem;
}
.ui.middle.aligned.list .item .below {
	color: #a8a8a8;
	font-size: .8rem;
	font-weight: bold;
}


/*Style for Cards */

#card-container {
	margin-top: 5rem;
	margin-left: auto;
	margin-right: auto;
}
#card-container .ui.twelve.wide.column.cards {
	margin-left: auto;
	margin-right: auto;
}
#card-container .ui.twelve.wide.column.cards .card {
	width: 40rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	box-shadow: inset 0 0 .8rem 0 #d3d3d3;
}
#card-container .ui.twelve.wide.column.cards .card .extra.content {
	padding: 0;
	padding-top: .7rem;
	padding-left: 1rem;
}
#card-container .ui.twelve.wide.column.cards .ui.red.fluid.button {
	margin-right: auto;
	margin-left: auto;
	width: 75%;
}


/*Styling Warning Div */ 
#warning {
	margin-top: 2.5rem;
	margin-right: auto;
	margin-left: auto;
	height: 2.5rem;
	padding: 0;
	display: none;
	width: 50rem;
}
#warning .ui.warning.message {
	margin-left: auto;
	margin-right: auto;
}